@use '../../variables' as *;
@use '../../mixins' as *;

.create-summary {
  width: 90%;
  margin: 0 auto;
}

.create-summary__header {
  @include card;
  padding: $spacing-6;
  margin-bottom: $spacing-6;

  h1 {
    font-size: $font-size-2xl;
    font-weight: $font-weight-bold;
    color: $neutral-900;
  }

  p {
    font-size: $font-size-sm;
    color: $neutral-600;
    margin-top: $spacing-2;
  }
}

.create-summary__form {
  @include card;
  padding: $spacing-6;
  display: flex;
  flex-direction: column;
  gap: $spacing-5;
}

.create-summary__field {
  display: flex;
  flex-direction: column;
  gap: $spacing-2;

  label {
    font-size: $font-size-sm;
    font-weight: $font-weight-medium;
    color: $neutral-700;
  }

  input,
  select,
  textarea {
    @include input-base;
  }

  textarea {
    resize: vertical;
    min-height: 200px;
    font-family: $font-family-base;
  }
}

.create-summary__actions {
  display: flex;
  gap: $spacing-3;
  justify-content: flex-end;
  margin-top: $spacing-1;
  flex-wrap: wrap;

  button {
    @include button-base;
    min-width: 120px;
  }
}

.create-summary__error {
  @include card;
  padding: $spacing-4;
  background: $danger-50;
  border-left: 4px solid $danger-500;
  color: $danger-700;
  font-size: $font-size-sm;
}
