.app-layout {
  display: flex;
  height: calc(100dvh - 60px);
  width: 100dvw;
  background-color: #f8fafc;
  position: relative;
  overflow: visible; 
}

.app-content {
  width: auto;
  height: auto;
  min-height: auto;
  display: flex;
  justify-content: center;
  flex: 1;
  padding: .4rem;
  overflow-y: auto;
  background-color: #f8fafc;
}
