@use '../../variables' as *;
@use '../../mixins' as *;

.app-layout {
  display: flex;
  min-height: calc(100vh - 70px);
  max-height: calc(100vh - 70px);
  width: 100%;
  background-color: $neutral-50;
  position: relative;
  overflow: hidden;
}

.app-content {
  flex: 1;
  padding: $spacing-8;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: $neutral-50;
  width: 100%;
  height: calc(100vh - 70px);
}
