@use '../../variables' as *;
@use '../../mixins' as *;

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: $spacing-2;
  margin-top: $spacing-6;
  flex-wrap: wrap;

  &__button {
    @include button-base;
    min-width: 40px;
    height: 40px;
    padding: $spacing-2;
    background: white;
    color: $neutral-700;
    border: 1px solid $neutral-300;
    font-weight: $font-weight-medium;

    &:hover:not(:disabled) {
      background: $primary-50;
      color: $primary-700;
      border-color: $primary-300;
    }

    &--active {
      background: $primary-600;
      color: white;
      border-color: $primary-600;

      &:hover {
        background: $primary-700;
        border-color: $primary-700;
      }
    }

    &:disabled {
      opacity: 0.4;
      cursor: not-allowed;
      background: $neutral-100;
    }
  }

  &__info {
    font-size: $font-size-sm;
    color: $neutral-600;
    padding: 0 $spacing-3;
  }
}
