@use '../../variables' as *;
@use '../../mixins' as *;

.client__dashboard {
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: $spacing-8;
}

.client__info {
  @include card;
  padding: $spacing-8;
}

.client__left {
  display: flex;
  align-items: center;
  gap: $spacing-6;
  flex-direction: row;
  text-align: left;

  img {
    width: 100px;
    height: 100px;
    border-radius: $radius-full;
    object-fit: cover;
    border: 3px solid $primary-100;
  }

  h2 {
    font-size: $font-size-3xl;
    font-weight: $font-weight-bold;
    color: $neutral-900;
    margin-bottom: $spacing-1;
  }

  p {
    color: $neutral-600;
    font-size: $font-size-sm;
    margin-bottom: $spacing-2;
  }

  span {
    font-size: $font-size-xs;
    color: $neutral-500;
  }
}

.stats__grid {
  @include grid-auto-fit(200px);
  gap: $spacing-6;
}

.stat__card {
  @include card;
  padding: $spacing-6;
  text-align: center;
  position: relative;
  overflow: hidden;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 4px;
    background: currentColor;
  }

  h4 {
    font-size: $font-size-sm;
    font-weight: $font-weight-medium;
    color: $neutral-600;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    margin-bottom: $spacing-3;
  }

  p {
    font-size: $font-size-4xl;
    font-weight: $font-weight-bold;
    color: currentColor;
  }

  &.success {
    color: $success-600;
  }

  &.warning {
    color: $warning-600;
  }

  &.review {
    color: $info-600;
  }

  &.danger {
    color: $danger-600;
  }
}

// Loading skeleton
.stat__card--loading {
  h4, p {
    @include skeleton;
    color: transparent;
  }
}
