@use "./components/common/navbar";
@use "././pages/auth/auth";
@use "./components/common/layout";
@use './components/common/pagination';
@use './components/common/sidebar';
@use './components/common/intake';
@use './components/common/intake-details';
@use './components/client/intake-form';
@use './components/client/dashboard';
@use './components/admin/audit-log';
@use './components/common/about';
@use './components/lawyer/summary-list';
@use './components/lawyer/summarydetails';
@use './components/lawyer/create_summary';
@use './components/admin/audit-log-details';
@use './components/admin/audit-state';
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
  font-family: "Inter", -apple-system, BlinkMacSystemFont, sans-serif;
  background-color: #f8fafc;
  color: #1f2937;
  width: 100%;
  overflow: hidden;
}

